*{
  font-family: 微軟正黑體;
  font-weight: bold;
}
.App {
  width: 100%;
}
.main {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 7vh;
  text-align: center;
}
.bar {
  align-items: center;
}
.k-animation-container{
  z-index: 10003
}
.k-master-row,.card{
  text-align: center;
}
.k-form{
  text-align: left;
}
input{
  text-align: right;
}